rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /forms/{docId} {
      allow read: if true;    // allow reading forms
      allow write: if true;   // allow creating/updating forms
    }
    match /formsubmission/{docId} {
      allow write: if true;    // allow form submit
      allow read: if true;    // allow reading submissions
    }
  }
}
